<div class="pageWrapper">
  <div class="container">
    <section class="business-help-section">
      <div class="content-wrapper">
        <h2>Grow Your Business with Our Help</h2>
        <p class="sub-text">
          Choose your plan. Speak with our experts. Get more customers.
        </p>

        <div class="features-box">
          <label>Features</label>
          <div class="feature-bar"></div>
        </div>

        <div class="payment-methods">
          <p class="payment-title">Accepted Payment Methods</p>
          <div class="payment-logos">
            <img src="../../../../../../../assets/images/visa.png" alt="Visa" />
            <img
              src="../../../../../../../assets/images/icons8-american-express-50.png"
              alt="Mastercard"
            />
            <img
              src="../../../../../../../assets/images/razorpay.png"
              alt="American Express"
            />
            <!-- <img src="assets/discover.png" alt="Discover" />
            <img src="assets/razorpay.png" alt="Razorpay" />
            <img src="assets/secure.png" alt="Secure SSL" /> -->
          </div>
        </div>

        <div class="chat-support">
          Not sure which plan is right for you, <a href="#">chat with us!</a>
        </div>

        <div class="terms-conditions">
          All plans come with a 30-day money-back guarantee
          <a href="#">per our T&Cs.</a>
        </div>
      </div>
    </section>
  </div>
</div>
