<div class="wrap">
  <div class="container">
    <button (click)="closeModal()">x</button>
    <div class="textWrap">
      <h2>Date sent:</h2>
      <h3>04/29/2025</h3>
    </div>
    <div class="textWrap">
      <h2>Message:</h2>
      <h3>"test"</h3>
    </div>
    <div class="textWrap">
      <h2>Customer details:</h2>
      <h3>test</h3>
    </div>
    <div class="textWrap">
      <h2 class="flexwrp">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="#000"
          >
            <path
              d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2a1 1 0 011.01-.24c1.12.37 2.33.57 3.58.57a1 1 0 011 1v3.5a1 1 0 01-1 1A17.92 17.92 0 012 4a1 1 0 011-1h3.5a1 1 0 011 1c0 1.25.2 2.46.57 3.58a1 1 0 01-.25 1.01l-2.2 2.2z"
            />
          </svg> </span
        >919987654325
      </h2>
      <h3 class="flexwrp">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#000"
            viewBox="0 0 24 24"
          >
            <path
              d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
            />
          </svg> </span
        >testgmail.com
      </h3>
    </div>
    <p>
      We also sent you an email with this message. You can reply directly to
      your customer from there.
    </p>
  </div>
</div>
