.editor-layout {
  display: flex;
  min-height: 100vh; /* Full height */
}
/* Sidebar: 30% */
.editor-sidebar {
  flex: 0 0 30%;
  background-color: #f5f5f5;
  /* padding: 20px 0 20px 20px; */
  box-sizing: border-box;
  flex-shrink: 0;
  width: 364px;
}

/* Main Content: 70% */
.editor-main {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e3e3e3;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .editor-layout {
    flex-direction: column;
  }

  .editor-sidebar,
  .editor-main {
    flex: 0 0 100%;
  }
}
