.editor-layout {
  display: flex;
  min-height: 100vh; /* Full height */
}

.editor-sidebar {

  background-color: #f5f5f5;

  box-sizing: border-box;
  flex-shrink: 0;

    background-color: #f5f5f5;
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 330px;
    min-width: 330px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08), 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

/* Main Content: 70% */
.editor-main {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e3e3e3;
      flex: 1 1 auto;
    display: flex
;
    overflow: hidden;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .editor-layout {
    flex-direction: column;
  }

  .editor-sidebar,
  .editor-main {
    flex: 0 0 100%;
  }
}
