.editor-layout {
  display: flex;
  min-height: 100vh; /* Full height */
}

.editor-sidebar {

  background-color: #f5f5f5;

  box-sizing: border-box;
  flex-shrink: 0;

    background-color: #f5f5f5;
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 345px;
    min-width: 345px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08), 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

/* Main Content: 70% */
.editor-main {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e3e3e3;
      flex: 1 1 auto;
    display: flex
;
    overflow: hidden;
}
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.close-btn{
  position: absolute;
    left: 14px;
    top: 12px;
    font-size: 17px;
    border: none;
}

/* new user  */

/* new user  */

/* Responsive for Mobile */
@media (max-width: 768px) {
  .editor-layout {
    flex-direction: column;
  }

  .editor-sidebar,
  .editor-main {
    flex: 0 0 100%;
  }
  
}
@media (max-width: 500px) {
  .editor-layout {
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .editor-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background: white;
    z-index: 1000;
    transform: translateX(-100%);
        padding-top: 25px;
           
  }

  .editor-sidebar.open {
    transform: translateX(0);
  }

  .editor-main {
    width: 100%;
  }

  .editor-main.sidebar-open {
    opacity: 0.3; /* Optional dim effect when sidebar is open */
    pointer-events: none;
  }
}
