<header [class.fixed]="isFixed">
  <div class="container">
    <div class="headerWrapper">
      <div class="logo">
        <h2>HostClap</h2>
      </div>
      <nav>
        <ul class="menuItems">
          <li><a href="">Home</a></li>
          <li>
            <div class="dropdown">
              <button class="dropdown-button">
                Our Services
                <img
                  src="../../../assets/images/icons8-chevron-30.png"
                  alt=""
                  width="15"
                  height="15"
                />
              </button>
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <span class="dropdown-item-icon">🌐</span>
                  <div class="dropdown-item-text">
                    <span class="dropdown-item-title">Custom Websites</span>
                    <span class="dropdown-item-description"
                      >Tailored solutions to meet your business needs.</span
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <span class="dropdown-item-icon">🚀</span>
                  <div class="dropdown-item-text">
                    <span class="dropdown-item-title">SEO Optimisation</span>
                    <span class="dropdown-item-description"
                      >Boost your website's visibility on search engines.</span
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <span class="dropdown-item-icon">📊</span>
                  <div class="dropdown-item-text">
                    <span class="dropdown-item-title">Business Strategy</span>
                    <span class="dropdown-item-description"
                      >Expert advice to grow your business effectively.</span
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <span class="dropdown-item-icon">💡</span>
                  <div class="dropdown-item-text">
                    <span class="dropdown-item-title">Creative Solutions</span>
                    <span class="dropdown-item-description"
                      >Innovative ideas to make your brand stand out.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="">Web Example</a></li>
          <li><a href="">Pricing</a></li>
        </ul>
        <button type="button" class="loginBtn">Login</button>
      </nav>
    </div>
  </div>
</header>
