<div class="pageWrapper">
  <div class="top-bar">
    <button class="back-btn" (click)="backToHomepage()">
      <img
        src="../../../assets/images/icons8-chevron-right-24.png"
        alt="chevron"
        width="18"
      />
      Back
    </button>
    <div class="title">Opening hours</div>
  </div>

  <div class="section-card">
    <label class="label" for="section-title">Section title</label>
    <div class="title-row">
      <input
        id="section-title"
        type="text"
        class="input-field"
        value="Amenities"
      />
      <input type="checkbox" class="checkbox" checked />
    </div>
    <label class="label" for="section-subtitle">Section Subtitle</label>
    <input
      id="section-subtitle"
      type="text"
      class="input-field"
      value="Get AC Service Now"
    />
  </div>

  <div class="toggle-container">
    <span class="label-text">Use 24-hours format</span>
    <input type="checkbox" />
  </div>
  <div class="description">e.g. 13:00</div>
  <p class="label-text">When is your business open?</p>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Sunday</label>

    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Monday</label>
    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Tuesday</label>
    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Wednesday</label>
    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Thursday</label>
    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Friday</label>
    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="day-row">
    <input type="checkbox" checked />
    <label>Saturday</label>
    <div class="time-picker">
      <input type="text" value="11:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
    <div class="time-picker">
      <input type="text" value="12:00" />
      <select>
        <option>AM</option>
        <option>PM</option>
      </select>
    </div>
  </div>

  <div class="footer-buttons">
    <button class="cancel-btn cancelBtn">Cancel</button>
    <button class="save-btn saveBtn" disabled>Save</button>
  </div>
</div>
