<div class="pagewrapper">
  <section class="section_hero .bg_waves">
    <div class="container">
      <div class="herosectionWrapp">
        <div class="mainHeadingWrP">
          <p class="whiteTxt">Struggling to launch a website you love?</p>
          <h1>
            We'll build your
            <span class="highlight">small business</span>
            <br />
            <span class="highlight">website</span> in
            <span class="bold">7 days</span>
          </h1>
          <p class="whiteTxt">
            Launch for £99. You'd pay £1500 elsewhere, and probably get less.
          </p>
        </div>
        <div>
          <section class="cta-section">
            <button class="cta-button">Get Started</button>

            <div class="rating-section">
              <h3>Are our websites any good?</h3>
              <hr />
            </div>

            <div class="trust-section">
              <p class="rating-text"><strong>RATED 4.8 EXCELLENT</strong></p>
              <div class="stars">
                ⭐⭐⭐⭐⭐
                <span class="trustpilot">Trustpilot</span>
              </div>
              <p class="community-text">
                JOIN OUR COMMUNITY OF 700,000+ BUSINESS OWNERS
              </p>
            </div>
          </section>
          <section class="hero-section">
            <div class="browser-mockup">
              <span class="bg_img">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df7e9b9c2c5a335d4955dd_img-red.webp"
                  loading="lazy"
                  width="540"
                  height="485"
                  sizes="(max-width: 767px) 100vw, 547.998046875px"
                  alt=""
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df7e9b9c2c5a335d4955dd_img-red-p-500.webp  500w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df7e9b9c2c5a335d4955dd_img-red-p-800.webp  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df7e9b9c2c5a335d4955dd_img-red.webp       1080w
                  "
                  class="img-onnor-red"
                />
              </span>

              <div class="browser-header">
                <span class="browser-url">celestialdelicacies.com</span>
              </div>

              <div class="content-wrapper">
                <div class="hero-content">
                  <h1>EXQUISITE DELIGHTS</h1>
                  <p>Experience a fine dining journey like never before.</p>
                  <button class="cta-button">Book a Table</button>
                </div>
              </div>
              <div class="floating-actions">
                <button class="action-button">Publish</button>
                <button class="action-button">Sell Products</button>
                <button class="action-button">Change Image</button>
              </div>
              <span class="dishes"
                ><img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df7e9b39dc347faabf702a_pic-blue.webp"
                  loading="lazy"
                  width="250"
                  data-w-id="8be596a0-3c65-e3e1-2df4-72514dd2861e"
                  alt=""
                  class="img-onnor-blue-small"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
              /></span>

              <div class="publish-container">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65cbb496398c881b16497e7a_publish.svg"
                  loading="lazy"
                  data-w-id="376275bf-ec38-fc3c-9ea1-64f5aad36843"
                  alt=""
                  class="img-publish1"
                />
                <div class="pulsating-border"></div>
              </div>
              <div class="cart-container">
                <img
                  src="../../assets/images/cartimg.png"
                  class="cart-icon"
                  alt="Cart"
                />
                <div class="pulsating-border"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial section -->
  <section class="stats-section">
    <div class="container">
      <p class="sub-heading">DID YOU KNOW?</p>
      <h2 class="main-heading">
        <span class="highlight">2 out of 3</span> small business owners <br />
        don’t have a website or don’t like <br />
        the one they do have.
      </h2>

      <div class="testimonials">
        <div class="testimonial testimonialone">
          <img
            src="https://randomuser.me/api/portraits/women/2.jpg"
            alt="Joana B."
          />
          <div class="testimonial-content">
            <strong>Joana B.</strong>
            <p>
              “My cousin built my website. I'm not really happy, but I can't
              tell him that.”
            </p>
          </div>
        </div>

        <div class="testimonial testimonialtwo">
          <img
            src="https://randomuser.me/api/portraits/men/3.jpg"
            alt="Fred Z."
          />
          <div class="testimonial-content">
            <strong>Fred Z.</strong>
            <p>
              "I got quotes in the thousands for a website. I just got started,
              I can't afford that."
            </p>
          </div>
        </div>

        <div class="testimonial testimonialthree">
          <img
            src="https://randomuser.me/api/portraits/men/4.jpg"
            alt="Troy M."
          />
          <div class="testimonial-content">
            <strong>Troy M.</strong>
            <p>
              "I really tried to build a website myself, but it didn't look good
              and I have no idea how to make it show up on Google."
            </p>
          </div>
        </div>
      </div>

      <p class="why">Why?</p>
    </div>
    <div class="doItYourself">
      <div class="box">
        <div class="box-content">
          <span class="emoji top-right">😡</span>
          <h2>
            Do-It-Yourself <br />
            Website Builders
          </h2>
          <p>give you a toolbox, not a finished website</p>
          <p class="highlight">Most of these sites never get finished.</p>
        </div>
        <div class="img-half">
          <img src="../../assets/images/doitimg.png" alt="doitimg" />
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <span class="emoji bottom-left">😵</span>
          <h2>Website Agencies</h2>
          <p>
            are expensive and you still need to learn how to maintain your
            website
          </p>
          <p class="highlight">Most of these sites are not updated.</p>
        </div>
        <div class="img-half">
          <img src="../../assets/images/doitimg.png" alt="doitimg" />
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial section -->
  <!-- mobile section -->
  <section class="multi_mobileSection">
    <div class="container">
      <div class="multiWrapper">
        <div class="text-content">
          <h2>Thankfully, there is UENI.</h2>
          <p>The truly affordable done-for-you website solution.</p>
          <button class="cta-button">Get Started</button>
        </div>
        <div class="image-content" #imageContent>
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df79f9145a092a096b0d7b_Bobs%20-%20Mobile.webp"
            class="left-phone"
          />
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df79f94e854b95f0c1017d_Minerva%20-%20Mobile.webp"
            class="middle-phone"
          />
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df79f94e854b95f0c1017d_Minerva%20-%20Mobile.webp"
            class="right-phone"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- mobile section -->

  <section class="pro-cons-section">
    <div class="container">
      <div class="pros-cons">
        <p class="whiteTxt">
          SAY GOODBYE TO DIY WEBSITE HEADACHES AND OVERPRICED AGENCIES
        </p>
        <h1>
          Get a <span class="highlight">professionally built</span> website at
          an affordable price
        </h1>
        <p class="whiteTxt">
          We create high-quality websites tailored for your business without the
          hassle.
        </p>
        <div class="comparison">
          <div class="comparisonBox greenBox">
            <h2>Websites with Hostclap</h2>
            <ul class="list">
              <li class="positive">✅ Custom-built & user-friendly</li>
              <li class="positive">✅ Ready in just 5 days</li>
              <li class="positive">✅ No hidden costs</li>
              <li class="positive">✅ Full support & maintenance</li>
              <li class="positive">✅ Free domain & hosting</li>
            </ul>
          </div>
          <div class="comparisonBox redBox">
            <h2>Websites without Hostclap</h2>
            <ul class="list">
              <li class="negative">❌ Complicated DIY setup</li>
              <li class="negative">❌ Takes weeks or months</li>
              <li class="negative">❌ Expensive agency fees</li>
              <li class="negative">❌ No support after launch</li>
              <li class="negative">❌ Hidden fees & extra costs</li>
            </ul>
          </div>
        </div>
        <div>
          <button class="cta-button">Get Your Website Now</button>
        </div>
      </div>
    </div>
  </section>

  <!-- launch -->
  <div class="how-it-works">
    <div class="container">
      <div class="text">
        <p>✨ Your website will be launched next Friday</p>
        <h2>How does it benefit you?</h2>
        <p>
          Get a stunning online presence without the stress. Our streamlined
          process ensures quick delivery and top-quality results.
        </p>
      </div>
      <div class="image-container">
        <img
          src="../../assets/images/shoppinggirl.png"
          alt="Website preview"
          height="100%"
          width="100%"
        />
        <div class="overlay">Watch 2-min introduction</div>
      </div>
    </div>
  </div>
  <section class="steps__container">
    <div class="container">
      <h2>3 steps to launch your website</h2>
      <div class="stepcardcontainer">
        <div class="step-card">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df76fc975665158c213ada_img-questionnaire-step1.webp"
            loading="lazy"
            sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 90vw, (max-width: 1919px) 27vw, 362.6640625px"
            srcset="
              https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df76fc975665158c213ada_img-questionnaire-step1-p-500.webp 500w,
              https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65df76fc975665158c213ada_img-questionnaire-step1.webp       783w
            "
            alt="Step 1 - Complete our online questionnaire"
            class="steps-img"
          />
          <div class="step-title">STEP 1</div>
          <p>Complete our online questionnaire</p>
          <p>15-30 min</p>
        </div>
        <div class="step-card">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65ef094844a72cbb75d618a2_img-step2.webp"
            loading="lazy"
            sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 90vw, (max-width: 1919px) 27vw, 362.6640625px"
            srcset="
              https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65ef094844a72cbb75d618a2_img-step2-p-500.webp 500w,
              https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65ef094844a72cbb75d618a2_img-step2.webp       783w
            "
            alt="Step 2 - We build your website fully, from A to Z."
            class="steps-img"
          />
          <div class="step-title">STEP 2</div>
          <p>We build your website fully, from A to Z</p>
          <p>7 days</p>
        </div>
        <div class="step-card">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65ef0948e881387c4c984ce0_img-step3.webp"
            loading="lazy"
            sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 90vw, (max-width: 1919px) 27vw, 362.6640625px"
            srcset="
              https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65ef0948e881387c4c984ce0_img-step3-p-500.webp 500w,
              https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/65ef0948e881387c4c984ce0_img-step3.webp       783w
            "
            alt="Step 3 - We launch your website with you live over Zoom."
            class="steps-img"
          />
          <div class="step-title">STEP 3</div>
          <p>We launch your website with you live over Zoom</p>
          <p>30 min</p>
        </div>
      </div>
      <button class="btn">Get Started</button>
    </div>
  </section>
</div>
