<div>
  <!-- <div class="logo-container">
    <img src="./../../../assets/logo/Group 92.svg" />
  </div> -->
  <div class="container">
    <ul class="vertical-nav-Menu">
      <li class="menu-item" routerLink="/dashboard" [routerLinkActive]="'active'">
        <a>
          <i class="bi bi-grid-1x2-fill"></i>
          <span class="isText" *ngIf="!toggle">Dashboard</span>
        </a>
      </li>
      <li class="menu-item" [routerLink]="['/user-management']" [routerLinkActive]="'active'">
        <a>
          <i class="bi bi-passport"></i>
          <span class="isText">User Management</span>
        </a>
      </li>
      <li class="menu-item" [routerLink]="['/review-management']" [routerLinkActive]="'active'">
        <a>
          <i class="bi bi-passport"></i>
          <span class="isText">Review Management</span>
        </a>
      </li>
      <!-- <li
        class="menu-item"
        routerLink="/change-password"
        [routerLinkActive]="'active'"
      >
        <a>
          <i class="bi bi-passport"></i>
          <span class="isText">Change Password</span>
        </a>
      </li> -->
      <li class="menu-item" [routerLink]="['/subadmin']" [routerLinkActive]="'active'">
        <a>
          <i class="bi bi-passport"></i>
          <span class="isText">Sub-admin Management</span>
        </a>
      </li>
      <li class="menu-item"  [routerLinkActive]="'active'">
        <a>
          <i class="bi bi-passport"></i>
          <span class="isText">Subscription Management</span>
        </a>
      </li>
     
      <li class="menu-item" (click)="openDialog()">
        <a>
          <i class="bi bi-box-arrow-left"></i>
          <span class="isText">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>