<div class="container">
  <div class="terms-container">
    <h1>Privacy and Policy</h1>
    <p>
      These terms of use (“Agreement”) are between UENI Limited, a company
      registered in England with company number 9368082 and registered address 7
      Bell Yard, London WC2A 2JR, UK (“UENI”, “we” or “our”) and you and govern
      your use of the UENI Platform and access to the Services.
    </p>
    <p>
      In this Agreement, the defined terms listed below shall have the following
      meanings:
    </p>

    <ul>
      <li>
        <strong>Additional Subscription Period(s)</strong> – the time period(s)
        for which you continue to subscribe for Services after your Minimum Term
        has expired, and which shall have the same duration as your Minimum Term
      </li>
      <li>
        <strong>Affiliates</strong> – any entity that directly or indirectly
        controls, is controlled by, or is under common control with another
        entity
      </li>
      <li>
        <strong>Company Website</strong> – means a website that promotes your
        services and may be licensed to you by UENI as part of the Paid For
        Services
      </li>
      <li>
        <strong>Data Protection Laws</strong> – and all applicable EU laws and
        regulations governing the use or processing of personal data, including
        European Union Regulation 2016/679 and any national law implementing the
        foregoing.
      </li>
    </ul>
  </div>
</div>
