.mat-mdc-card {
  position: relative;
  width: 35%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

.mdc-card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  justify-content: flex-end;
}

.header {
  font-size: 24px;
  padding: 16px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
