<div class="top-bar">
  <!-- Left: Breadcrumb -->
  <div class="breadcrumb">
    <span></span>
    <a href="#"> </a>
  </div>

  <!-- Center: Device Toggle + Links -->
  <div class="center-options">
    <div class="device-toggle">
      <button title="Desktop View">
        <img
          src="../../../../../assets/images/icons8-desktop-50.png"
          alt="desktop"
          width="28"
        />
      </button>
      <button title="Mobile View">
        <img
          src="../../../../../assets/images/icons8-cellphone-50.png"
          alt="desktop"
          width="28"
        />
      </button>
    </div>
    <div class="links">
      <a href="">My Hub</a>
      <a href="">Pro features</a>
      <a href="">Subscription</a>
    </div>
  </div>

  <!-- Right: Help + Preview -->
  <div class="right-controls">
    <div class="help-icon">?</div>

    <a
      class="preview-btn"
      href="http://hostclap.com/#/in/myWebsite"
      target="_blank"
    >
      Preview</a
    >
  </div>
</div>
