<div class="container">
  <div class="header">
    <h1 class="header-text">TypeScript Slider</h1>
    <h4>Pause on hover</h4>
  </div>

  <div id="ts-slider">
    <ul class="slides">
      <li class="slide slide1"><img class="red" /></li>
      <li class="slide slide2"><img class="orange" /></li>
      <li class="slide slide3"><img class="yellow" /></li>
      <li class="slide slide4"><img class="green" /></li>
      <li class="slide slide5"><img class="blue" /></li>
      <li class="slide slide6"><img class="indigo" /></li>
      <li class="slide slide1"><img class="red" /></li>
    </ul>
  </div>
</div>
