.sidebar {
  width: 200px;
  padding: 20px;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.sidebar a.active {
  color: #3f51b5;
  font-weight: bold;
}

.sidebar span {
  margin-right: 10px;
}


/* mobilee==================== */
.preview-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* when mobile mode active */
.mobile-frame {
  width: 499px;
  height: 740px;
  background: #fff;
  margin: 0 auto;
  border: 16px solid #f9f9f9;
  border-radius: 36px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.mobile-frame::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 6px;
  background: #ccc;
  border-radius: 3px;
}

.mobile-screen {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.mobile-frame {
  animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

