<section class="emailWrapper">
  <div class="emailForm">
    <div class="container">
      <div class="reset-password">
        <i
          [routerLink]="['/login']"
          class="bi bi-arrow-left-short left-short"
        ></i>
        <h1 class="loginHeading">Reset Password</h1>
      </div>
    </div>

    <div class="formContainer">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
        <div class="formRow">
          <label class="label" for="password">Password</label>
          <div class="position-relative">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control hasEyeIcon"
              placeholder="Password..."
              formControlName="newPassword"
              [ngClass]="{ invalid: submitted && f['newPassword'].errors }"
            />
            <button
              type="button"
              class="eyeBtn"
              (click)="togglePasswordVisibility()"
            >
              <i
                [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
              ></i>
            </button>
          </div>
          <div *ngIf="submitted && f['newPassword'].errors" class="text-right">
            <div
              *ngIf="f['newPassword'].errors['required']"
              class="text-danger"
            >
              New Password is required
            </div>
            <div
              *ngIf="f['newPassword'].errors['minlength']"
              class="text-danger"
            >
              New Password must be at least 8 characters long
            </div>
          </div>

          <label class="label" for="confirmPassword">Confirm Password</label>
          <div class="position-relative">
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              class="form-control hasEyeIcon"
              placeholder="Confirm Password..."
              formControlName="confirmPassword"
              [ngClass]="{ invalid: submitted && f['confirmPassword'].errors }"
            />
            <button
              type="button"
              class="eyeBtn"
              (click)="toggleConfirmVisibility()"
            >
              <i
                [ngClass]="
                  confirmPasswordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'
                "
              ></i>
            </button>
          </div>
          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="text-right"
          >
            <div
              *ngIf="f['confirmPassword'].errors['required']"
              class="text-danger"
            >
              Confirm Password is required
            </div>
            <div
              *ngIf="f['confirmPassword'].errors['mismatch']"
              class="text-danger"
            >
              Passwords must match
            </div>
          </div>
        </div>
        <button type="submit" class="primaryBtn loginBtn">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</section>
