<section class="loginWrapper">
  <div class="loginForm">
    <div class="textCenter headingWrap">
      <h1>HostClap</h1>
      <h1 class="loginHeading">Welcome Back</h1>
      <p class="text">Enter your credentials to continue</p>
    </div>
    <div class="divWrp">
      <div class="facebookTab">
        <a href=""
          ><img
            src="../../../assets/images/icons8-facebook-48.png"
            alt="facebook"
          />
          Sign in with Facebook</a
        >
      </div>

      <div class="facebookTab">
        <a href=""
          ><img
            src="../../../assets/images/icons8-google-48.png"
            alt="google"
          />
          Sign in with Facebook</a
        >
      </div>

      <!-- new -->

      <div class="separator">or Sign in with</div>

      <div class="login-options">
        <div class="login-box">
          <a href="">
            <img src="../../../assets/images/passwordicon.png" alt="Password"
          /></a>

          <div>Password</div>
        </div>
        <div class="login-box">
          <a href=""
            ><img src="../../../assets/images/icons8-email-50.png" alt="Email"
          /></a>
          <div>Email Link</div>
        </div>
      </div>

      <div class="register">
        Don’t have an account?
        <a (click)="navigateToSignUp()">Create one now</a>
      </div>
      <!-- new -->
    </div>
    <!-- <div class="formContainer">
      <form [formGroup]="loginForm">
        <div class="formRow">
          <label class="label" for="email">Email</label>
          <input type="text" placeholder="email" formControlName="email" />
          <div
            *ngIf="submitted && f['email'].errors && !f['password'].errors"
            class="text-right"
          >
            <div *ngIf="f['email'].errors['required']" class="text-danger">
              Email is required !
            </div>
          </div>
          <div
            *ngIf="submitted && f['email'].errors && f['password'].errors"
            class="text-right"
          >
            <div *ngIf="f['email'].errors['required']" class="text-danger">
              Please enter email and password
            </div>
          </div>
        </div>
        <div class="formRow">
          <label class="label" for="password">Password</label>
          <div class="position-relative">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              placeholder="Password..."
              formControlName="password"
              class="hasEyeIcon"
            />
            <button
              type="button"
              class="eyeBtn"
              (click)="togglePasswordVisibility()"
            >
              <i
                [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
              ></i>
            </button>
          </div>
          <div
            *ngIf="submitted && f['password'].errors && !f['email'].errors"
            class="text-right"
          >
            <div *ngIf="f['password'].errors['required']" class="text-danger">
              Password is required !
            </div>
          </div>
          <span class="forgetPassword" [routerLink]="['/forget-password']"
            >Forget Password ?</span
          >
        </div>
        <button class="primaryBtn loginBtn" (click)="login()">Sign In</button>
      </form>
    </div> -->
  </div>
</section>
