.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondaryColor);
  min-height: 100vh;
  background-image: url("../../../assets/images/bannerImg.png"); /* Replace with your image path */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background: var(--clr-primary-white);
  max-width: 550px;
  width: 100%;
  margin: 116px auto;
  min-height: 400px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
}

.formContainer {
  width: 100%;
}

.headingWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headingWrap img {
  width: 273px;
  height: 76px;
  margin-bottom: 30px;
}
.formRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 22px;
}
.label {
  font-size: 17px;
  font-weight: 600;
  color: var(--primaryColor);
}
.formRow input {
  min-height: 58px;
  border-radius: 10px;
  border: 1px solid var(--clr-primary-grey);
  // background: var(--secondaryColor);
  background: var(--clr-primary-white);
  width: 100%;
  padding: 10px;
  font-size: 15px;
  padding-right: 40px; /// because of the postion, given to "i" and also the width of 40px to "i"
}
.formRow input:focus {
  outline: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  // background: var(--clr-primary-white);
  background: var(--secondaryColor);
}
.formRow input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--clr-primary-grey);
}
.loginHeading {
  color: var(--primaryColor);
  font-size: 25px;
  font-weight: 700;
  line-height: 39px;
}
.text {
  line-height: 1.6;
  color: #6c7888;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

// .formRow input:hover{

//     border: 1px solid #000;
// }

.forgetPassword {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  margin-top: 8px;
  line-height: 1;
  cursor: pointer;
}
.loginBtn {
  width: 100%;
  margin-top: 15px;
}
.hasEyeIcon {
  position: relative;
}
.eyeBtn {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  background: none;
  display: grid;
  place-items: center;
  background: none;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
}

.haveAccount {
  // border-top: 1px solid var(--clr-primary-grey);
  padding: 20px 0 0 0;
  margin: 25px 0 0 0;
  text-align: center;
}
.haveAccount button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryColor);
}


.primaryBtn {
  width: 100%;
  margin-top: 15px;
  background: cadetblue;
  padding: 10px;
  border-radius: 8px;
  color: var(--clr-primary-white);
  border: none;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s all;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px;
}