.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondaryColor);
  min-height: 100vh;
  // background-image: url("../../../assets/images/bannerImg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background: var(--clr-primary-white);
  max-width: 550px;
  width: 100%;
  margin: 116px auto;
  min-height: 400px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
}

.formContainer {
  width: 100%;
}

.headingWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headingWrap img {
  width: 273px;
  height: 76px;
  margin-bottom: 30px;
}
.formRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 22px;
}
.label {
  font-size: 17px;
  font-weight: 600;
  color: var(--primaryColor);
}
.formRow input {
  min-height: 58px;
  border-radius: 10px;
  border: 1px solid var(--clr-primary-grey);
  // background: var(--secondaryColor);
  background: var(--clr-primary-white);
  width: 100%;
  padding: 10px;
  font-size: 15px;
  padding-right: 40px; /// because of the postion, given to "i" and also the width of 40px to "i"
}
.formRow input:focus {
  outline: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  // background: var(--clr-primary-white);
  background: var(--secondaryColor);
}
.formRow input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--clr-primary-grey);
}
.loginHeading {
  color: var(--primaryColor);
  font-size: 25px;
  font-weight: 700;
  line-height: 39px;
}
.text {
  line-height: 1.6;
  color: #6c7888;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

// .formRow input:hover{

//     border: 1px solid #000;
// }

.forgetPassword {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  margin-top: 8px;
  line-height: 1;
  cursor: pointer;
}
.loginBtn {
  width: 100%;
  margin-top: 15px;
}
.hasEyeIcon {
  position: relative;
}
.eyeBtn {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  background: none;
  display: grid;
  place-items: center;
  background: none;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
}

.haveAccount {
  // border-top: 1px solid var(--clr-primary-grey);
  padding: 20px 0 0 0;
  margin: 25px 0 0 0;
  text-align: center;
}
.haveAccount button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryColor);
}

.primaryBtn {
  width: 100%;
  margin-top: 15px;
  background: cadetblue;
  padding: 10px;
  border-radius: 8px;
  color: var(--clr-primary-white);
  border: none;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s all;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px;
}
.facebookTab a {
  color: #000;
  font-size: 28px;
}

.facebookTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
  border: 1px solid #ccc;
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.facebookTab a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  font-size: 20px;
}

.facebookTab a img {
  width: 30px;
  height: 30px;
}

.divWrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.social-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.separator {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
}
.login-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.login-box {
  width: 100%;
  max-width: 165px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.login-box img {
  width: 20px;
  margin-bottom: 5px;
}
.register {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}
.register a {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}
