<div class="gallery-container">
  <div class="gallery-content">
    <!-- Left: Image Slider -->
    <div class="image-slider">
      <div class="main-image">
        <img
          [src]="slides[currentSlide].image"
          [alt]="slides[currentSlide].title"
        />
      </div>

      <!-- Thumbnails -->
      <div class="thumbnails">
        <div
          *ngFor="let slide of slides; let i = index"
          class="thumbnail"
          [class.active]="i === currentSlide"
          (click)="selectSlide(i)"
        >
          <img [src]="slide.image" [alt]="slide.title" />
        </div>
      </div>
    </div>

    <!-- Right: Content changes per slide -->
    <div class="content">
      <h2>{{ slides[currentSlide].title }}</h2>
      <p>{{ slides[currentSlide].description }}</p>
      <a [href]="slides[currentSlide].link" class="learn-more">
        {{ slides[currentSlide].linkText }}
      </a>
    </div>
  </div>
</div>
