<ng-container *ngIf="isLoading; else content">
  <app-loader></app-loader>
</ng-container>
<ng-template #content>
  <div class="classicWrapper" id="scrollContainer" #scrollContainer>
    <ng-container *ngIf="state$ | async as state">
      <div class="url-bar">
      
        <div class="url-content">
          <img
            src="../../../../../../../../../../assets/images/icons8-lock-30 (2).png"
            alt="lock"
          />
          <span class="url-text">https://acrserviceranchi.com</span>
        </div>
      </div>
      <div *ngIf="state$ | async as state">
        <div
          class="top-bar"
          [ngStyle]="{
            background: data?.selectedColor?.primary || '#f88d00',
            'font-size.px':
              state?.preview?.announcement?.fontSize ||
              pageData?.header?.announcement?.fontSize ||
              '16px',

            color:
              state?.preview?.announcement?.fontColor ||
              pageData?.header?.announcement?.fontColor ||
              '#fff'
          }"
        >
          <span
            *ngIf="
              state?.preview?.announcement?.show ??
              pageData?.header?.announcement?.show
            "
            [innerHTML]="
              state?.preview?.announcement?.message?.trim() ||
              pageData?.header?.announcement?.message?.trim() ||
              'AC Repairing ?'
            "
          ></span>
          <div>
            <button>
              {{
                state?.preview?.announcement?.actionButton?.buttonName ||
                  pageData?.header?.announcement?.actionButton?.buttonName ||
                  "Send a message"
              }}
            </button>
          </div>
        </div>
      </div>

      <!-- Top Bar -->

      <!-- new bar -->
      <!-- <div
        class="classic-top-bar"
        [ngStyle]="{
          background: data?.selectedColor?.secondary || '#9C27B0'
        }"
      >
        <span class="topBarText" [ngStyle]="{ 'font-family': data?.font }"
          >Need AC Help?</span
        >
        <button class="classic-btn" [ngStyle]="{ 'font-family': data?.font }">
          Contact Us
        </button>
      </div> -->
      <!-- announcement -->

      <!-- announcement -->

      <!-- Header Info -->
      <header
        class="classic-header-info"
        [ngStyle]="{
          'font-family': data?.font,
          background: data?.selectedColor?.primary
        }"
      >
        <div
          [ngStyle]="{
            'font-family': data?.font,
           
          }"
        >
          <i class="bi bi-geo-alt-fill"></i>
          <span class="addresTXt" [ngStyle]="{ 'font-family': data?.font }">
            {{ pageData?.contactUs?.address }} {{ pageData?.contactUs?.city }}
            {{ pageData?.contactUs?.state }}</span
          >
        </div>
        <div [ngStyle]="{ 'font-family': data?.font }">
          <i class="bi bi-telephone-fill"></i>
          <!-- <pre>{{ pageData | json }}</pre> -->
          {{ pageData?.header?.phones?.mobile }}
        </div>
        
      </header>

      <!-- Navigation -->
      <nav
        [class.scrolled]="isScrolled"
        class="classic-nav"
        [ngStyle]="{
       

          'font-size':
            state?.preview?.menu?.fontSize ||
            pageData?.header?.menu?.fontSize ||
            '16px',
          'text-align':
            state?.preview?.menu?.alignment ||
            pageData?.header?.menu?.alignment ||
            'left'
        }"
      >
    
        <div
          class="logoSection"
      [ngClass]="{ 'logo-scrolled': isScrolled }"
            [ngStyle]="{
         background: isScrolled 
           ? 'transparent' 
           : (state?.preview?.menu?.menuBackgroudColour 
              || pageData?.header?.menu?.menuBackgroudColour 
              || data?.selectedColor?.primary 
              || '#f88d00')
       }" 
          *ngIf="state$ | async as state"
        >
          <!-- <img
          src="../../../../../../../../../../assets/images/icons8-huawei-logo-64.png"
          alt="logo"
          width="70"
          height="70"
        /> -->
          <!-- <img
          [src]="getSanitizedLogoUrl()"
          [ngStyle]="{
            width: logoForm.get('logoSize')?.value + 'px',
            'text-align': logoForm.get('alignment')?.value
          }"
          alt="logo"
          width="70"
          height="70"
        /> -->
          <div
            [ngStyle]="{
              'text-align':
                state?.preview?.logo?.alignment ||
                pageData?.header?.logo?.alignment ||
                'center'
            }"
            class="logoWrp"
          >
            <img
              [src]="getLogoUrl()"
              [ngStyle]="{
                width:
                  (state?.preview?.logo?.logoSize ||
                    pageData?.header?.logo?.logoSize ||
                    '') + 'px'
              }"
              alt="logo"
             [ngClass]="{ 'logo-scrolled': isScrolled }"
              width="120"
            />
          </div>
        </div>
      
         <div class="rightHeaderWrap">
          <div class="brandname" 
       [ngStyle]="{
         background: isScrolled 
           ? 'transparent' 
           : (state?.preview?.menu?.menuBackgroudColour 
              || pageData?.header?.menu?.menuBackgroudColour 
              || data?.selectedColor?.primary 
              || '#f88d00')
       }" 
       [class.hide-brand]="isScrolled">

          
         <h3>Hostclap</h3>   
       

         <p>Lorem ipsum dolor, sit amet consectetur adipisicing  perspiciatis quas totam?</p>
        </div>
        <ul>
          <!-- <li *ngFor="let page of data?.pageData">
        <a href="#">{{ page.pageName }}</a>
      </li> -->
          <li *ngFor="let page of pagesList; let i = index">
            <a
              href="javascript:void(0)"
              (click)="scrollToSection('page-' + i)"
              [ngStyle]="{
                color:
                  state?.preview?.menu?.menuFontColour ||
                  pageData?.header?.menu?.menuFontColour,

                'font-size':
                  state?.preview?.menu?.fontSize ||
                  pageData?.header?.menu?.fontSize ||
                  '15px',
                'text-align':
                  state?.preview?.menu?.alignment ||
                  pageData?.header?.menu?.alignment ||
                  'center'
              }"
              >{{ page.pageName }}</a
            >
          </li>
        </ul>
        </div>
      </nav>

      <!-- Hero -->

      <section
        class="classic-hero hero"
        *ngIf="state$ | async as state"
        [style.background-image]="getCoverUrl()"
        [ngStyle]="{
          opacity:
            (state?.preview?.cover?.opacity ||
              pageData?.header?.cover?.opacity ||
              100) / 100
        }"
      >
        <!-- {{ getCoverUrl(state) | json }} -->
        <div class="overlay">
          <div class="hero-text" *ngIf="state$ | async as state">
            <h1
              [ngStyle]="{
                'font-family': data?.font,
                color:
                  state?.preview?.titles?.titleColour ||
                  pageData?.header?.titles?.titleColour,

                'text-align':
                  state?.preview?.titles?.titleAlignment ||
                  pageData?.header?.titles?.titleAlignment ||
                  'center'
              }"
            >
              {{
                state?.preview?.titles?.buisnessName ||
                  pageData?.header?.titles?.buisnessName ||
                  "Your Main Title"
              }}
            </h1>
            <p
              [ngStyle]="{
                'font-family': data?.font,
                color:
                  state?.preview?.titles?.subtitleColour ||
                  pageData?.header?.titles?.subtitleColour,

                'text-align':
                  state?.preview?.titles?.subtitleAlignment ||
                  pageData?.header?.titles?.subtitleAlignment ||
                  'left'
              }"
            >
              {{
                state?.preview?.titles?.subtitle ||
                  pageData?.header?.titles?.subtitle ||
                  "Your subtitle"
              }}
            </p>
            <div class="mesgBtn">
              <span>088773 06675</span>
              <button
                [ngStyle]="{
                  'font-family': data?.font,
                  background: data?.selectedColor?.primary
                }"
              >
                send a message
              </button>
            </div>
            <div
              class="review-box"
              [ngStyle]="{
                'font-family': data?.font,
               
              }"
            >
              <div class="stars">
                <span
                  class="star full"
                  [ngStyle]="{
                    background: data?.selectedColor?.primary
                  }"
                  >&#9733;</span
                >
                <span class="star full">&#9733;</span>
                <span class="star full">&#9733;</span>
                <span class="star full">&#9733;</span>
                <span class="star half">&#9733;</span>
              </div>
              <div class="reviewFlex">
                <div class="review-text">174 reviews</div>
                <div class="powered-by">
                  powered by
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg"
                    alt="Google"
                    class="google-logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- offer -->
      <section
        class="offerSection"
        [ngStyle]="{
          'font-family': data?.font,
         
        }"
      >
        <div class="mainContainer">
          <div
            class="offer-banner"
            [ngStyle]="{
              background: data?.selectedColor?.primary || '#FF9800'
            }"
          >
            <div
              class="yellow-polygon"
              [ngStyle]="{
                background: data?.selectedColor?.primary || '#FF9800'
              }"
            >
              <img
                src="../../../../../../../../../../assets/images/icons8-discount-48.png"
                alt="Offer"
                width="100"
                height="100"
              />
            </div>
            <div class="offer-text" [ngStyle]="{ 'font-family': data?.font }">
              <h3>
                {{
                  state?.preview?.offer?.title ||
                    pageData?.offer?.title ||
                    "offer"
                }}
              </h3>
              <p>
                <span
                  [innerHTML]="
                    state?.preview?.offer?.description?.trim() ||
                    pageData?.offer?.description?.trim() ||
                    'AC Repairing ?'
                  "
                >
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- about us section  -->
      <app-about-us-slider [pageId]="pageId"></app-about-us-slider>
      <!-- about us section  -->
      <!-- gallery section -->
      <section *ngIf="" class="gallery-section">
        <div class="mainContainer">
          <div
            *ngIf="pageData?.gallery?.images?.length"
            [ngStyle]="{ 'font-family': data?.font }"
          >
            <h2 class="gradientHeading" *ngIf="pageData?.gallery?.titleVisible">
              {{ pageData.gallery.title }}
            </h2>

            <div class="gallery-grid">
              <!-- Row 1 (3 images) -->
              <div class="row-1">
                <div
                  class="gallery-item"
                  *ngFor="let img of pageData.gallery.images.slice(0, 3)"
                >
                  <img [src]="getGalleryImageUrl(img)" alt="Gallery Image" />
                </div>
              </div>

              <!-- Row 2 (2 images) -->
              <div class="row-2">
                <div
                  class="gallery-item"
                  *ngFor="let img of pageData.gallery.images.slice(3, 5)"
                >
                  <img [src]="getGalleryImageUrl(img)" alt="Gallery Image" />
                </div>
              </div>

              <!-- Row 3 (5 images) -->
              <div class="row-3">
                <div
                  class="gallery-item"
                  *ngFor="let img of pageData.gallery.images.slice(5, 10)"
                >
                  <img [src]="getGalleryImageUrl(img)" alt="Gallery Image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="sectionHeading">
          {{ pageData?.gallery?.title }}
        </h2>
        <div
          class="carousel-container"
          [ngStyle]="{
            'font-family': data?.font,
            background: data?.selectedColor?.accent
          }"
          *ngIf="!isLoading"
        >
          <button  [ngStyle]="{
           
            background: data?.selectedColor?.primary
          }" class="nav-arrow left" (click)="prev()"><img class="white-icon" src="../../../../../../../../../../../assets/images/icons8-chevron-left-24.png" alt=""></button>

          <div class="carousel-track">
            <div
              class="card"
              [ngStyle]="{
                'font-family': data?.font,
                background: data?.selectedColor?.accent
              }"
              *ngFor="let img of teamImages; let i = index"
              [class.center]="i === currentIndex"
              [class.left-1]="
                i === (currentIndex - 1 + teamImages.length) % teamImages.length
              "
              [class.left-2]="
                i === (currentIndex - 2 + teamImages.length) % teamImages.length
              "
              [class.right-1]="i === (currentIndex + 1) % teamImages.length"
              [class.right-2]="i === (currentIndex + 2) % teamImages.length"
              [class.hidden]="
                i !== currentIndex &&
                i !==
                  (currentIndex - 1 + teamImages.length) % teamImages.length &&
                i !==
                  (currentIndex - 2 + teamImages.length) % teamImages.length &&
                i !== (currentIndex + 1) % teamImages.length &&
                i !== (currentIndex + 2) % teamImages.length
              "
              (click)="updateCarousel(i)"
            >
              <img
                [src]="getGalleryImageUrl(img)"
                [alt]="'Gallery Image ' + (i + 1)"
              />
            </div>
          </div>

          <button  [ngStyle]="{
           
            background: data?.selectedColor?.primary
          }"  class="nav-arrow right" (click)="next()"><img class="white-icon" src="../../../../../../../../../../../assets/images/icons8-chevron-right-24.png" alt=""></button>
        </div>
      </section>
      <!-- gallery section -->
      <!-- amenties section -->
      <section class="amenities-section">
        <div class="mainContainer">
          <h2 class="gradientHeading">{{ pageData?.amenities.title }}</h2>
          <p class="subHeading_para">{{ pageData?.amenities.subtitle }}</p>
          <p class="subHeading_para">Spoken languages: English, Hindi</p>

          <div class="amenities">
            <div
              class="amenity"
              *ngFor="let item of pageData?.amenities?.amenitiesNames"
              [ngStyle]="{
                'font-family': data?.selectedColor?.secondary
              }"
            >
              <div class="icon">
                <img [src]="getAmenityIcon(item)" alt="" width="40" />
              </div>
              <p class="subHeading_para">{{ item }}</p>
            </div>
          </div>
        </div>
      </section>
      <!-- amenties section -->

      <div class="serviceSection">
        <div class="mainContainer">
          <div class="" [ngStyle]="{ 'font-family': data?.font }">
            <h2 class="gradientHeading">
              {{
                state?.preview?.offer?.title ||
                  serviceData?.section?.sectionTitle ||
                  "offer"
              }}
            </h2>
          </div>

          <ng-container
            *ngFor="let group of serviceData?.section?.groups; let i = index"
          >
            <input
              type="radio"
              name="groupStep"
              [id]="'group' + i"
              [checked]="i === selectedGroupIndex"
              (change)="selectedGroupIndex = i"
              hidden
            />

            <div class="group" *ngIf="i === selectedGroupIndex">
              <h2
                class="section-title"
                [ngStyle]="{ 'font-family': data?.font }"
              >
                {{ group.groupName }}
              </h2>

              <div class="service-container">
                <div
                  class="service-card"
                  *ngFor="
                    let sub of group?.subgroups.slice(0, visibleSubgroupsCount)
                  "
                >
                  <div class="imgWrp">
                    <img
                      [src]="getImageUrl(sub.media?.[0])"
                      alt="{{ sub.subgroupName || 'Service Image' }}"
                      class="service-image"
                    />
                  </div>
                  <div class="serviceTItleWrap">
                    <h3
                      class="service-title"
                      [ngStyle]="{ 'font-family': data?.font }"
                    >
                      {{ sub.subgroupName }}
                    </h3>

                    <h4
                      class="service-desc"
                      [ngStyle]="{ 'font-family': data?.font }"
                    >
                      {{ sub.description }}
                    </h4>
                    <button
                      class="btn requtBtn"
                      [ngStyle]="{
                        'font-family': data?.font,
                        background: data?.selectedColor?.primary
                      }"
                    >
                      Request Service
                    </button>

                    <a
                      href="#"
                      class="learn-more"
                      [ngStyle]="{ 'font-family': data?.font }"
                    >
                      Learn more
                    </a>
                    <a
                      href="#"
                      class="learn-more"
                     [ngStyle]="{
                        'font-family': data?.font,
                        background: data?.selectedColor?.primary
                      }"
                    >
                      Learn more
                    </a>
                  </div>
                </div>
              </div>

              <div
                class="buttonCont"
                *ngIf="visibleSubgroupsCount < (group?.subgroups?.length || 0)"
              >
                <button class="loadMore_btn" (click)="loadMore()">
                  Load More
                </button>
              </div>

              <div class="controls">
                <!-- Next button -->
                <label
                  *ngIf="i < serviceData?.section?.groups.length - 1"
                  [for]="'group' + (i + 1)"
                  class="btn"
                  (click)="selectedGroupIndex = i + 1"
                  [class.disabled]="
                    i === serviceData?.section?.groups.length - 1
                  "
                >
                  Next
                </label>

                <!-- Previous button -->
                <label
                  *ngIf="i > 0"
                  [for]="'group' + (i - 1)"
                  class="btn"
                  (click)="selectedGroupIndex = i - 1"
                  [class.disabled]="i === 0"
                >
                  Previous
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Services -->

      <!-- review setion -->
      <app-review-slider></app-review-slider>
      <!-- review setion -->
      <section
        id="page-2"
        class="dynamicPages"
        [ngStyle]="{ 'font-family': data?.font }"
        style="position: relative"
      >
        <div
          class="dymanic-page-header"
          [ngStyle]="{
            'font-family': data?.font,
           
          }"
        >
          <div class="mainContainer">
            <h2 class="gradientHeading">{{ pagesList[2]?.pageName }}</h2>
          </div>
        </div>

        <div class="price-section dark">
          <div class="mainContainer">
            <div
              class="price-card"
              [ngStyle]="{
                'font-family': data?.font,
                background: data?.selectedColor?.accent
              }"
            >
              <!-- Group Name -->
              <h3 class="price-group-title">
                {{
                  abovePriceContactSections[selectedPriceGroupIndex]?.groupName
                }}
              </h3>

              <!-- Subgroups -->
              <div class="subgroupContainer">
                <div
                  *ngFor="
                    let subgroup of abovePriceContactSections[
                      selectedPriceGroupIndex
                    ]?.subgroups
                  "
                  class="subgroup-card"
                  [ngStyle]="{
                    background: data?.selectedColor?.secondary
                  }"
                >
                  <div class="subgroup-header">
                    <h4>{{ subgroup.subgroupName }}</h4>
                    <div class="subgroup-price">₹{{ subgroup.price }}</div>
                  </div>
                  <p
                    class="subgroup-description"
                    [innerHTML]="subgroup.description"
                  ></p>
                  <div class="subgroup-actions">
                    <a href="#" class="learnBtn">Learn more</a>
                    <button class="add-to-cart">Add to Cart</button>
                  </div>
                </div>
              </div>

              <!-- Navigation Buttons -->
              <div class="control-btns">
                <button
                  (click)="setSelectedPriceGroup(selectedPriceGroupIndex - 1)"
                  [disabled]="selectedPriceGroupIndex === 0"
                  class="nav-btn"
                >
                  <img
                    src="../../../../../../../../../../assets/images/icons8-next-page-50.png"
                    alt="previous"
                    class="rotate-prev"
                  />
                  Previous
                </button>

                <button
                  (click)="setSelectedPriceGroup(selectedPriceGroupIndex + 1)"
                  [disabled]="
                    selectedPriceGroupIndex ===
                    abovePriceContactSections.length - 1
                  "
                  class="nav-btn"
                >
                  Next
                  <img
                    src="../../../../../../../../../../assets/images/icons8-next-page-50.png"
                    alt="next"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- testimonial section -->
      <div *ngIf="" class="testimonial-section dynamicPages">
        <div class="mainContainer">
          <div
            class="dymanic-page-header"
            [ngStyle]="{ 'font-family': data?.font }"
          >
            <h2 class="gradientHeading">Testimonials</h2>
          </div>
          <div class="testiWrap">
            <div
              *ngFor="let group of testimonialGroups"
              class="testimonial-card"
            >
              <div class="testIMg">
                <img
                  *ngIf="group.testimonial.imageUrlSafe"
                  [src]="group.testimonial.imageUrlSafe"
                  alt="Avatar"
                  class="avatar"
                />
              </div>
              <h3>{{ group.testimonial.reviewerName }}</h3>
              <p class="quote">{{ group.testimonial.quote }}</p>
              <p class="date">
                {{ group.testimonial.date | date : "mediumDate" }}
              </p>

              <!-- Rating stars -->
              <div class="rating">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                  <span
                    class="star"
                    [class.filled]="star <= +group.testimonial.rating"
                    [style.color]="group.testimonial.ratingColour || '#f9f916'"
                    >&#9733;</span
                  >
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="testimonial-slider testimonial-section dynamicPages"
        *ngIf="testimonialGroups?.length"
      >
        <div class="mainContainer">
          <div
            class="dymanic-page-header"
            [ngStyle]="{ 'font-family': data?.font }"
          >
            <h2 class="testimonial-heading">Testimonials</h2>
          </div>

          <!-- slides wrapper -->
          <div
            class="testimonial-slides"
            [style.transform]="
              'translateX(-' + testimonialCurrentIndex * (100 / 3) + '%)'
            "
          >
            <div
              class="testimonial-slide"
              *ngFor="let group of testimonialGroups; let i = index"
            >
              <div
                class="testimonial-card"
                [ngStyle]="{
                  'background-color':
                    i % 2 === 0
                      ? data?.selectedColor?.accent
                      : data?.selectedColor?.secondary
                }"
              >
                <div class="testimonial-user">
                  <div class="testimonial-img">
                    <img
                      *ngIf="group.testimonial.imageUrlSafe"
                      [src]="group.testimonial.imageUrlSafe"
                      alt="Avatar"
                      class="testimonial-avatar"
                    />
                    <div
                      *ngIf="!group.testimonial.imageUrlSafe"
                      class="testimonial-avatar fallback"
                    >
                      {{ group.testimonial.reviewerName?.charAt(0) }}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="testimonial-name">
                    {{ group.testimonial.reviewerName }}
                  </div>
                  <p class="testimonial-text">
                    {{ group.testimonial.quote | slice : 0 : 120 }}...
                    <a href="#">Read more</a>
                  </p>

                  <p class="testimonial-date">
                    {{ group.testimonial.date | date : "mediumDate" }}
                  </p>

                  <!-- Rating stars -->
                  <div class="testimonial-stars">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                      <span
                        class="testimonial-star"
                        [class.filled]="star <= +group.testimonial.rating"
                        [style.color]="
                          group.testimonial.ratingColour || '#e91e63'
                        "
                        >&#9733;</span
                      >
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- navigation -->
          <div class="testimonial-btnWrp">
            <button class="testimonial-nav prev" (click)="testimonialPrev()">
              ❮
            </button>
            <button class="testimonial-nav next" (click)="testimonialNext()">
              ❯
            </button>
          </div>
        </div>
      </div>
      <app-testimonial-slider [pageId]="pageId"></app-testimonial-slider>


      <!-- testimonial section -->

      <!-- slider  -->
      <!-- location -->
      <section
        id="page-1"
        class="dynamicPages"
        [ngStyle]="{ 'font-family': data?.font }"
        *ngIf="state$ | async as state"
      >
        <div class="dymanic-page-header">
          <h2 class="gradientHeading">Where To Find Us</h2>
        </div>

        <div class="contactFlex">
          <div class="map-container">
            <img
              src="../../../../../../../../../../assets/images/News_gm_demo_Large-1920x0_900x900_crop_center.webp"
              alt="Map"
              class="map-image"
            />

            <div class="map-marker">
              <div class="dot"></div>

              <!-- Tooltip (always visible) -->
              <div
                class="location-tooltip"
                [ngStyle]="{
                  'font-family': data?.font,
                  background: data?.selectedColor?.primary
                }"
              >
                <p>
                  <strong>
                    {{
                      state?.preview?.contactUs?.address ||
                        pageData?.contactUs?.address
                    }}, <br>
                    {{
                      state?.preview?.contactUs?.city ||
                        pageData?.contactUs?.city
                    }},
                    {{
                      state?.preview?.contactUs?.state ||
                        pageData?.contactUs?.state
                    }},<br>
                    {{
                      state?.preview?.contactUs?.zip ||
                        pageData?.contactUs?.zip
                    }},
                  </strong>
                </p>
                <p class="phone">
                  {{
                    state?.preview?.contactUs?.phoneNumber ||
                      pageData?.contactUs?.phoneNumber
                  }},
                  {{ pageData?.contactUs?.phoneNumber }}
                </p>
                <a
                  class="directions"
                  target="_blank"
                  [href]="getGoogleMapsUrl(getFullAddress())"
                >
                  Directions →
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- Contact Form -->
      <div
        class="contact-section"
        [ngStyle]="{
          'font-family': data?.font,
          background: data?.selectedColor?.accent
        }"
      >
        <!-- Left Info -->

        <!-- Right Form -->
        <div
          class="contact-form"
          [ngStyle]="{
            'font-family': data?.font,
            background: data?.selectedColor?.secondary
          }"
        >
          <h3>Send a Message</h3>
          <p class="subtitle">Have Questions? Contact Us!</p>

          <form>
            <div class="form-row">
              <input type="text" placeholder="First name" />
              <input type="text" placeholder="Last name" />
            </div>
            <div class="form-row">
              <input type="email" placeholder="Email" />
              <input type="tel" placeholder="e.g. +44 707 354 64 78" />
            </div>
            <textarea placeholder="Tell us about your request"></textarea>

            <div class="form-check">
              <input type="checkbox" id="terms" />
              <label for="terms" [ngStyle]="{ 'font-family': data?.font }">
                I agree with the <a href="#">Terms & Conditions</a> and the
                <a href="#">Privacy & Cookies Policy</a>.
              </label>
            </div>

            <button
              type="submit"
              [ngStyle]="{
                background: data?.selectedColor?.primary
              }"
            >
              Submit Request
            </button>
          </form>
        </div>
      </div>

      <section class="dynamicPages" [ngStyle]="{ 'font-family': data?.font }">
        <div class="dymanic-page-header">
          <h2 class="gradientHeading">{{ pagesList[3]?.pageName }}</h2>
        </div>
      </section>

      <!-- contact us  -->
      <div
        class="contact-info"
        [ngStyle]="{
          'font-family': data?.font,
          background: data?.selectedColor?.secondary
        }"
        *ngIf="state$ | async as state"
      >
        <div class="mainContainer">
          <div class="infoFlex">
            <div class="info-item">
              <span class="icon"
                ><img
                  src="../../../../../../../../../../assets/images/icons8-phone-30 (1).png"
                  alt="location"
                  width="20"
                  height="20"
              /></span>
              <div>
                <p>
                  {{ pageData?.contactUs?.phoneNumber }}
                  {{
                    state?.preview?.contactUs?.phoneNumber ||
                      pageData?.contactUs?.phoneNumber
                  }},
                </p>
              </div>
            </div>

            <div class="info-item">
              <span class="icon"
                ><img
                  src="../../../../../../../../../../assets/images/icons8-location-50.png"
                  alt="location"
                  width="20"
                  height="20"
              /></span>
              <div>
                <h4>Office location</h4>
                <p>
                  {{
                    state?.preview?.contactUs?.address ||
                      pageData?.contactUs?.address
                  }},
                  {{
                    state?.preview?.contactUs?.city ||
                      pageData?.contactUs?.city
                  }},
                  {{
                    state?.preview?.contactUs?.state ||
                      pageData?.contactUs?.state
                  }},
                  {{
                    state?.preview?.contactUs?.zip || pageData?.contactUs?.zip
                  }},
                  <br />
                </p>
              </div>
            </div>

            <div class="info-item">
              <span class="icon"
                ><img
                  src="../../../../../../../../../../assets/images/icons8-email-30.png"
                  alt="location"
                  width="20"
                  height="20"
              /></span>
              <div>
                <h4>Send us an email</h4>
                <p>
                  {{ pageData?.contactUs?.email }}
                  {{
                    state?.preview?.contactUs?.email ||
                      pageData?.contactUs?.email
                  }},
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact info -->
      <!-- contact us  -->
      <section
        id="page-1"
        class="dynamicPages"
        [ngStyle]="{ 'font-family': data?.font }"
      >
      <div class="opening">
  <h2 class="gradientHeading">Opening Hours</h2>
  <table  cellspacing="10" cellpadding="10">
    <tr>
      <td [ngClass]="{'highlight': isToday('Sunday')}"  [ngStyle]="isToday('Sunday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Sunday</td>
      <td [ngClass]="{'highlight': isToday('Monday')}"  [ngStyle]="isToday('Monday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Monday</td>
      <td [ngClass]="{'highlight': isToday('Tuesday')}"  [ngStyle]="isToday('Tuesday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Tuesday</td>
      <td [ngClass]="{'highlight': isToday('Wednesday')}"  [ngStyle]="isToday('Wednesday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Wednesday</td>
      <td [ngClass]="{'highlight': isToday('Thursday')}"  [ngStyle]="isToday('Thursday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Thursday</td>
      <td [ngClass]="{'highlight': isToday('Friday')}"  [ngStyle]="isToday('Friday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Friday</td>
      <td [ngClass]="{'highlight': isToday('Saturday')}"  [ngStyle]="isToday('Saturday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">Saturday</td>
    </tr>
    <tr>
      <td [ngClass]="{'highlight': isToday('Sunday')}"  [ngStyle]="isToday('Sunday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
      <td  [ngClass]="{'highlight': isToday('Monday')}"  [ngStyle]="isToday('Monday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
      <td  [ngClass]="{'highlight': isToday('Tuesday')}"  [ngStyle]="isToday('Tuesday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
      <td [ngClass]="{'highlight': isToday('Wednesday')}"  [ngStyle]="isToday('Wednesday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
      <td [ngClass]="{'highlight': isToday('Thursday')}"  [ngStyle]="isToday('Thursday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
      <td [ngClass]="{'highlight': isToday('Friday')}"  [ngStyle]="isToday('Friday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
      <td [ngClass]="{'highlight': isToday('Saturday')}"  [ngStyle]="isToday('Saturday') ? {
        'font-family': data?.font,
        'background': data?.selectedColor?.secondary
      } : null">8:00 AM - 11:59 PM</td>
    </tr>
  </table>
</div>

      </section>
      <!-- Footer -->
      <footer
        class="classic-footer"
        [ngStyle]="{ background: data?.selectedColor?.accent || '#ccc' }"
      >
        <div class="linksss">
          <a href=""> Merchant Policies</a>
          <a href=""> Legal Notice</a>
        </div>
        <p [ngStyle]="{ 'font-family': data?.font }">
          Powered by
          <img
            src="../../../../../../../../../../assets/images/logo.png"
            alt=""
            width="20"
          />
        </p>
        <span>{{ pageData?.footer?.tagline }}</span>
      </footer>
    </ng-container>
  </div>
</ng-template>
