<div class="pageWrapper">
  <div class="top-bar">
    <button class="back-btn" (click)="backToHomepage()">
      <img
        src="../../../assets/images/icons8-chevron-right-24.png"
        alt="chevron"
        width="18"
      />
      Back
    </button>
    <div class="title">Amenities</div>
  </div>

  <div class="section-card">
    <label class="label" for="section-title">Amenities title</label>
    <div class="title-row">
      <input
        id="section-title"
        type="text"
        class="input-field"
        value="Amenities"
      />
      <input type="checkbox" class="checkbox" checked />
    </div>
    <label class="label" for="section-subtitle">Section Subtitle</label>
    <input
      id="section-subtitle"
      type="text"
      class="input-field"
      value="Get AC Service Now"
    />
  </div>

  <div class="gallery-header">
    <div class="amenities-container">
      <div class="heading">Suggested Amenities</div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity1" />
        <label for="amenity1">24/7 availability</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity2" />
        <label for="amenity2">Parking available</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity3" />
        <label for="amenity3">Debit &amp; Credit Cards accepted</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity4" />
        <label for="amenity4">Wifi on the premises</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity5" />
        <label for="amenity5">Free consultation</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity6" />
        <label for="amenity6">Wheelchair accessible</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity7" />
        <label for="amenity7">By appointment only</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity8" />
        <label for="amenity8">Bike parking available</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity9" />
        <label for="amenity9">Cash only</label>
      </div>
      <div class="amenity-item">
        <input type="checkbox" id="amenity10" />
        <label for="amenity10">Good for children</label>
      </div>
    </div>
  </div>

  <div class="footer-buttons">
    <button class="cancel-btn cancelBtn">Cancel</button>
    <button class="save-btn saveBtn" disabled>Save</button>
  </div>
</div>
