<section class="emailWrapper">
  <div class="emailForm">
    <div class="container">
      <div class="forget-password">
        <i
          [routerLink]="['/login']"
          class="bi bi-arrow-left-short left-short"
        ></i>
        <h1 class="loginHeading">Forget Password</h1>
      </div>
      <p>Please enter your Email ID</p>
    </div>

    <div class="formContainer">
      <form
        [formGroup]="forgetPasswordForm"
        (ngSubmit)="forgetPasswordSubmit()"
      >
        <div class="formRow">
          <label class="label" for="email">Email</label>
          <input
            type="text"
            formControlName="email"
            placeholder="Enter your Email"
            [ngClass]="{ invalid: submitted && f['email'].errors }"
          />
          <div *ngIf="submitted && f['email'].errors" class="text-right">
            <div *ngIf="f['email'].errors['required']" class="text-danger">
              Email is required!
            </div>
            <div *ngIf="f['email'].errors['email']" class="text-danger">
              Invalid email format!
            </div>
          </div>
        </div>
        <button type="submit" class="primaryBtn loginBtn">Send Code</button>
      </form>
    </div>
  </div>
</section>
