<div class="pagewrapper">
  <section class="heroSection">
    <div class="container">
      <div class="herosectionWrapp">
        <div class="leftContent">
          <h2>Grow your small business</h2>
          <div class="typewriter">
            <p>
              We will get your <span>{{ displayText }}</span>
            </p>
          </div>

          <ul class="points">
            <li class="">
              <img
                src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6040ea6375187633873ca0fe_check_orange.png"
                loading="lazy"
                width="16"
                alt=""
                class="hero-check-icon"
              />
              No complicated tech
            </li>
            <li>
              <img
                src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6040ea6375187633873ca0fe_check_orange.png"
                loading="lazy"
                width="16"
                alt=""
                class="hero-check-icon"
              />
              No spam
            </li>
            <li>
              <img
                src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6040ea6375187633873ca0fe_check_orange.png"
                loading="lazy"
                width="16"
                alt=""
                class="hero-check-icon"
              />
              No spam
            </li>
          </ul>
        </div>
        <div class="rightIMageside">
          <img src="assets/images/herisectionimg.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <div class="curvy-div one"></div>
  <div class="curvy-div two"></div>
  <section class="logoSection">
    <div class="container">
      <h3>IN THE NEWS</h3>
      <div class="logos">
        <div class="link-block">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6016c0e54fa31b615e66a220_BBC.svg"
            width="105"
            alt=""
          />
        </div>
        <div class="link-block">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6016c0e53da5cd508333059c_The_Telegraph.svg"
            width="198"
            alt=""
          />
        </div>
        <div class="link-block">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6016c0e5fefb7b6d910dd5ef_Forbes.svg"
            width="80"
            alt=""
          />
        </div>
        <div class="link-block">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601272d1ad89fd82b662aaca_startups.png"
            width="144"
            alt=""
          />
        </div>
        <div class="link-block">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6016c0e57ad9e26966ef4c50_The_Independent.svg"
            width="256"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="yourBusiness__Website">
    <div class="container">
      <div class="headingWrap">
        <h3 class="orangeTxt">IN 3 SIMPLE STEPS</h3>
        <h2 class="title-page">Your business website</h2>
      </div>
      <div class="grid-card">
        <article class="box box-one">
          <div>
            <img
              src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6023dc06b569030745bbf206_edit.png"
              alt=""
              height="49"
              class="list-content-image"
            />
          </div>
          <h4 class="card__Heading">Tell us about your business</h4>
          <p>
            Answer a few questions about your business. Upload images and
            describe your products and services in detail so we understand what
            your business does.
          </p>
        </article>
        <article class="box box-one">
          <div>
            <img
              src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6023dc06b569030745bbf206_edit.png"
              alt=""
              height="49"
              class="list-content-image"
            />
          </div>
          <h4 class="card__Heading">Tell us about your business</h4>
          <p>
            Answer a few questions about your business. Upload images and
            describe your products and services in detail so we understand what
            your business does.
          </p>
        </article>
        <article class="box box-one">
          <div>
            <img
              src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6023dc06b569030745bbf206_edit.png"
              alt=""
              height="49"
              class="list-content-image"
            />
          </div>
          <h4 class="card__Heading">Tell us about your business</h4>
          <p>
            Answer a few questions about your business. Upload images and
            describe your products and services in detail so we understand what
            your business does.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- blog slider -->
  <section class="sliderSection">
    <div class="headingWrap">
      <h3 class="orangeTxt">Business resources</h3>
      <h2 class="title-page">Get more from UENI</h2>
    </div>
    <div
      id="cardCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
      (mouseenter)="pauseSlider()"
      (mouseleave)="startSlider()"
    >
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg"
                  loading="lazy"
                  alt=""
                  sizes="(max-width: 767px) 290px, 320px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1-p-800.jpeg  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg        1024w
                  "
                  class="blog-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="blog-title"
                      >How much does a website cost in 2021?</a
                    >
                    <a href="" class="lernMore"
                      >Learn more
                      <img
                        src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6331eab76884525a4bbfda12_blue-arrow.svg"
                        loading="lazy"
                        alt=""
                        class="blog-arrow"
                        style="
                          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                            rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                            skew(0deg, 0deg);
                          transform-style: preserve-3d;
                        "
                      />
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c6af2755cca65f8f50f85_woman-working-at-computer-by-vlada-karpovich.jpg"
                  loading="lazy"
                  alt=""
                  sizes="(max-width: 767px) 310px, 350px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c6af2755cca65f8f50f85_woman-working-at-computer-by-vlada-karpovich-p-1080.jpeg 1080w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c6af2755cca65f8f50f85_woman-working-at-computer-by-vlada-karpovich-p-1600.jpeg 1600w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c6af2755cca65f8f50f85_woman-working-at-computer-by-vlada-karpovich.jpg         1920w
                  "
                  class="blog-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="blog-title"
                      >How much does a website cost in 2021?</a
                    >
                  </h5>
                  <a href="" class="lernMore"
                    >Learn more
                    <img
                      src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6331eab76884525a4bbfda12_blue-arrow.svg"
                      loading="lazy"
                      alt=""
                      class="blog-arrow"
                      style="
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                  /></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg"
                  loading="lazy"
                  alt=""
                  sizes="(max-width: 767px) 290px, 320px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1-p-800.jpeg  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg        1024w
                  "
                  class="blog-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="blog-title"
                      >How much does a website cost in 2021?</a
                    >
                  </h5>
                  <a href="" class="lernMore"
                    >Learn more
                    <img
                      src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6331eab76884525a4bbfda12_blue-arrow.svg"
                      loading="lazy"
                      alt=""
                      class="blog-arrow"
                      style="
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg"
                  loading="lazy"
                  alt=""
                  sizes="(max-width: 767px) 290px, 320px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1-p-800.jpeg  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg        1024w
                  "
                  class="blog-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="blog-title"
                      >How much does a website cost in 2021?</a
                    >
                  </h5>
                  <a href="" class="lernMore"
                    >Learn more
                    <img
                      src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6331eab76884525a4bbfda12_blue-arrow.svg"
                      loading="lazy"
                      alt=""
                      class="blog-arrow"
                      style="
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg"
                  loading="lazy"
                  alt=""
                  sizes="(max-width: 767px) 290px, 320px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1-p-800.jpeg  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg        1024w
                  "
                  class="blog-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="blog-title"
                      >How much does a website cost in 2021?</a
                    >
                  </h5>
                  <a href="" class="lernMore"
                    >Learn more
                    <img
                      src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6331eab76884525a4bbfda12_blue-arrow.svg"
                      loading="lazy"
                      alt=""
                      class="blog-arrow"
                      style="
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg"
                  loading="lazy"
                  alt=""
                  sizes="(max-width: 767px) 290px, 320px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1-p-800.jpeg  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/601c670f6016130d1935c6eb_person-using-instagram-by-lisa-fotios-1.jpg        1024w
                  "
                  class="blog-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="blog-title"
                      >How much does a website cost in 2021?</a
                    >
                  </h5>
                  <a href="" class="lernMore"
                    >Learn more
                    <img
                      src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6331eab76884525a4bbfda12_blue-arrow.svg"
                      loading="lazy"
                      alt=""
                      class="blog-arrow"
                      style="
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#cardCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#cardCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </section>
  <section class="whyUs">
    <div class="container">
      <div class="textwrp">
        <h3 class="orangeTxt">why HostClap</h3>
        <p class="title-page">Because we are easy & affordable</p>
      </div>
      <div class="WhycardWrapper">
        <div class="Whycard">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6040fc79dfcf7bfc73d34aa1_heart3.png"
            width="38"
            alt=""
            class="icons-size"
          />
          <h4>Do it for you</h4>
          <p>
            We build the website for you; we are not a do-it-yourself builder.
          </p>
        </div>
        <div class="Whycard">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6040fc79dfcf7bfc73d34aa1_heart3.png"
            width="38"
            alt=""
            class="icons-size"
          />
          <h4>Do it for you</h4>
          <p>
            We build the website for you; we are not a do-it-yourself builder.
          </p>
        </div>
        <div class="Whycard">
          <img
            src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/6040fc79dfcf7bfc73d34aa1_heart3.png"
            width="38"
            alt=""
            class="icons-size"
          />
          <h4>Do it for you</h4>
          <p>
            We build the website for you; we are not a do-it-yourself builder.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Because we help you grow your  -->
  <section class="weHelpGrow">
    <div class="container">
      <div class="tabwrapp d-flex align-items-start">
        <div
          class="nav flex-column nav-pills me-3"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            Get found online
          </button>
          <button
            class="nav-link"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            Get found online
          </button>
          <button
            class="nav-link"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            Sell everywhere
          </button>
          <button
            class="nav-link"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-settings"
            type="button"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            Meet your one-stop-shop
          </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="panel-Wrap">
              <div class="contentside">
                <h3 class="tabs-head">Get found online</h3>
                <p>
                  A free custom domain, business email accounts, a beautiful
                  logo, and even advertising credit to make you stand out.
                  Manage your reputation across trusted platforms and reviews
                  sites from one place. Making your brand look more professional
                  is only a few clicks away.
                </p>
              </div>

              <div class="imgside">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png"
                  alt=""
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 61vw, (max-width: 1919px) 36vw, 464.5px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-500.png  500w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-800.png  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png       1090w
                  "
                  class="uenitabs-image"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="panel-Wrap">
              <div class="contentside">
                <h3 class="tabs-head">Get found online</h3>
                <p>
                  A free custom domain, business email accounts, a beautiful
                  logo, and even advertising credit to make you stand out.
                  Manage your reputation across trusted platforms and reviews
                  sites from one place. Making your brand look more professional
                  is only a few clicks away.
                </p>
              </div>

              <div class="imgside">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png"
                  alt=""
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 61vw, (max-width: 1919px) 36vw, 464.5px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-500.png  500w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-800.png  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png       1090w
                  "
                  class="uenitabs-image"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="panel-Wrap">
              <div class="contentside">
                <h3 class="tabs-head">Get found online</h3>
                <p>
                  A free custom domain, business email accounts, a beautiful
                  logo, and even advertising credit to make you stand out.
                  Manage your reputation across trusted platforms and reviews
                  sites from one place. Making your brand look more professional
                  is only a few clicks away.
                </p>
              </div>

              <div class="imgside">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png"
                  alt=""
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 61vw, (max-width: 1919px) 36vw, 464.5px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-500.png  500w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-800.png  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png       1090w
                  "
                  class="uenitabs-image"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div class="panel-Wrap">
              <div class="contentside">
                <h3 class="tabs-head">Get found online</h3>
                <p>
                  A free custom domain, business email accounts, a beautiful
                  logo, and even advertising credit to make you stand out.
                  Manage your reputation across trusted platforms and reviews
                  sites from one place. Making your brand look more professional
                  is only a few clicks away.
                </p>
              </div>

              <div class="imgside">
                <img
                  src="https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png"
                  alt=""
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 61vw, (max-width: 1919px) 36vw, 464.5px"
                  srcset="
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-500.png  500w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1-p-800.png  800w,
                    https://cdn.prod.website-files.com/5fba61e7aa2fae86f84dd98d/60180dc7de297536c77ec841_why1.png       1090w
                  "
                  class="uenitabs-image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- faq section -->
  <section class="faq__section">
    <div class="container">
      <div class="textwrp">
        <h3 class="title-page">Frequently Asked Questions</h3>
        <p class="section-subtitle">
          Everything you need to know so you can use UENI like a pro
        </p>
      </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              What do I need to sign up?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Our websites work best for business owners who take pride in what
              they do and want to present themselves online in a professional
              way. The signup process is short and simple, we simply ask a few
              key questions to help us build you a great website. The more
              complete the information you provide, the better result you’ll
              receive. Our advice: provide high quality photos or images,
              detailed service and products descriptions, and clear information
              about what your business does.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              What do I need to sign up?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Our websites work best for business owners who take pride in what
              they do and want to present themselves online in a professional
              way. The signup process is short and simple, we simply ask a few
              key questions to help us build you a great website. The more
              complete the information you provide, the better result you’ll
              receive. Our advice: provide high quality photos or images,
              detailed service and products descriptions, and clear information
              about what your business does.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              What do I need to sign up?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Our websites work best for business owners who take pride in what
              they do and want to present themselves online in a professional
              way. The signup process is short and simple, we simply ask a few
              key questions to help us build you a great website. The more
              complete the information you provide, the better result you’ll
              receive. Our advice: provide high quality photos or images,
              detailed service and products descriptions, and clear information
              about what your business does.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
