<div class="home-wrapper">
  <button type="button" class="backBtn" (click)="goBack()">
    <img
      src="../../../../../../../../assets/images/icons8-chevron-right-24.png"
      alt="chevron"
      width="18"
      height="18"
    />
    Back
  </button>

  <!-- Header Section List -->
  <div class="section-item" *ngFor="let item of sectionItems">
    <div class="flexWRP" (click)="toggleSection(item.id)">
      <div class="d-flex gap-5 align-items-center">
        <img
          [src]="'../../../assets/images/' + item.icon"
          width="20"
          height="20"
        />
        <span class="title">{{ item.title }}</span>
      </div>
      <img
        src="../../../assets/images/icons8-chevron-right-24.png"
        width="15"
      />
    </div>
    <!-- naya header form================================== -->
    <!-- ANNOUNCEMENT SECTION -->
    <ng-container *ngIf="activeSection === item.id">
      <form
        *ngIf="item.id === 'announcement'"
        [formGroup]="announcementForm"
        (ngSubmit)="saveSection('announcement')"
      >
        <div class="announcement-editor">
          <label>
            <input
              type="checkbox"
              formControlName="show"
              (input)="applyFontStyles()"
            />
            Show Announcement
          </label>

          <div class="editor-section">
            <label class="quill-label">Announcement Message</label>
            <quill-editor
              [modules]="modules"
              theme="snow"
              class="custom-quill"
              formControlName="message"
              (input)="applyFontStyles()"
            >
              ></quill-editor
            >

            <!-- <label>Show On</label>
            <select formControlName="showOn" class="form-select">
              <option value="all">All Pages</option>
              <option value="home">Only Home</option>
            </select> -->
          </div>

          <label>Font Size</label>
          <input
            type="range"
            min="13"
            max="40"
            step="1"
            formControlName="fontSize"
            (input)="applyFontStyles()"
          />

          <button
            type="button"
            class="btn btn-light border w-100"
            (click)="toggleColorPicker = !toggleColorPicker"
          >
            <div class="rainbow-plus-icon">
              <span>+</span>
            </div>
            Set Font Color
          </button>
          <input
            *ngIf="toggleColorPicker"
            type="color"
            class="form-control mt-2"
            formControlName="fontColor"
            (input)="applyFontStyles()"
          />
          <div formGroupName="actionButton">
            <!-- <div class="form-check form-switch my-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="actionButton"
                formControlName="enabled"
                (change)="applyFontStyles()"
              />
            </div> -->
            <label for="actionButton">Action Button</label>

            <input
              type="text"
              formControlName="buttonName"
              class="form-control sendAmsg"
              placeholder="Send a message"
            />

            <label>Link To</label>
            <select formControlName="linkType" class="form-select">
              <option value="external">External Link</option>
              <option value="internal">Internal Link</option>
              <option value="sendMessage">Send Message</option>
            </select>
            <div class="mt-3 text-center">
              <button
                type="button"
                class="btn btn-primary px-4"
                [disabled]="
                  !announcementForm.get('actionButton.buttonName')?.value
                "
              >
                {{
                  announcementForm.get("actionButton.buttonName")?.value ||
                    "Button"
                }}
              </button>
            </div>
          </div>

          <!-- <div class="form-check mt-2">
            <input
              type="checkbox"
              formControlName="openInNewTab"
              class="form-check-input"
              (input)="applyFontStyles()"
            />
            <label class="form-check-label">Open in New Tab</label>
          </div> -->

          <button type="submit" class="btn saveBtn mt-3">Save</button>
        </div>
      </form>
      <!-- logo form -->
      <form *ngIf="item.id === 'logo'" [formGroup]="logoForm">
        <div class="LogoWrap logo-editor">
          <button
            type="button"
            class="add-logo-btn"
            (click)="openMediaLibrary()"
          >
            Add Logo
          </button>
          <input
            type="file"
            accept="image/*"
            style="display: none"
            #fileInput
            (change)="onFileSelected($event)"
            (change)="applyLogoChanges()"
          />

          <div *ngIf="logoForm.get('image')?.value" class="logo-box">
            <img [src]="logoForm.get('image')?.value" class="logo" alt="Logo" />

            <div class="icons">
              <button type="button" (click)="openMediaLibrary()">
                <img
                  src="../../../assets/images/icons8-pencil-24.png"
                  alt="edit"
                  width="20"
                  height="20"
                />
              </button>
              <button type="button" (click)="removeLogo()">
                <img
                  src="../../../assets/images/delete.png"
                  alt="delete"
                  width="20"
                  height="20"
                />
              </button>
            </div>
          </div>

          <div class="slider-container">
            <!-- <label>Size</label>
            <input
              type="range"
              formControlName="logoSize"
              min="0"
              max="100"
              class="form-range"
              (change)="applyLogoChanges()"
            /> -->
            <div class="slider-labels">
              <span>Small</span>
              <span>Medium</span>
              <span>Large</span>
            </div>
          </div>
          <div class="alignment-box">
            <label>Alignment</label>
            <select
              formControlName="alignment"
              (change)="applyLogoChanges()"
              class="form-select"
            >
              <option value="left">Left</option>
              <option value="center">Center</option>
              <option value="right">Right</option>
            </select>
          </div>

          <button type="submit" (click)="saveLogo()" class="btn saveBtn mt-3">
            Save
          </button>
        </div>
      </form>
      <!-- cover form -->
      <form *ngIf="item.id === 'cover'">
        <div class="cover-editor card p-3">
          <div class="cover-image-box">
            <label>Cover Image</label>

            <div
              class="image-preview"
              *ngIf="coverForm.get('image')?.value; else uploadBlock"
            >
              <img
                class="coverImg"
                [src]="coverForm.get('image')?.value"
                alt="Cover"
                height="155"
                width="291px"
                (error)="handleImageError($event)"
              />
              <div class="coverIcons">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  class="editCover"
                  data-bs-target="#coverEditorModal"
                >
                  <img
                    src="../../../assets/images/icons8-pencil-24.png"
                    alt="edit"
                    width="20"
                    height="20"
                  />
                </button>
                <button
                  type="button"
                  class="deleteCover"
                  (click)="removeCoverImage()"
                >
                  <img
                    src="../../../assets/images/delete.png"
                    alt="delete"
                    width="20"
                    height="20"
                  />
                </button>
              </div>
              <!-- <button type="button" (click)="removeCoverImage()">🗑️</button> -->
            </div>

            <ng-template #uploadBlock>
              <button
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#coverEditorModal"
              >
                Upload / Choose Image
              </button>
            </ng-template>
          </div>
          <!-- <div class="form-group">
            <label>Appearance</label>
            <select
              class="form-select"
              formControlName="appearanceEffect"
              name="appearance"
            >
              <option value="none">No effect</option>
              <option value="fade">Fade</option>
              <option value="zoom">Zoom</option>
            </select>
          </div> -->

          <label>
            Opacity
            <input
              type="range"
              formControlName="opacity"
              min="0"
              max="100"
              [value]="coverForm.get('opacity')?.value"
              (input)="onOpacityChange($event)"
              (change)="applyCoverChanges()"
            />
            {{ coverForm.get("opacity")?.value }}%
          </label>

          <!-- <div class="form-check parralx my-2">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="parallax"
              name="parallax"
            />
            <label class="form-check-label">Parallax Scroll</label>
          </div> -->

          <button
            type="button"
            class="btn btn-light border w-100 d-flex justify-content-between align-items-center"
            (click)="toggleBgPicker = !toggleBgPicker"
          >
            <div class="rainbow-plus-icon">
              <span>+</span>
            </div>
            Set Background Color
            <i
              class="bi"
              [class.bi-chevron-up]="toggleBgPicker"
              [class.bi-chevron-down]="!toggleBgPicker"
            ></i>
          </button>

          <input
            *ngIf="toggleBgPicker"
            type="color"
            formControlName="backgroundColour"
            name="backgroundColor"
            class="form-control form-control-color mt-2"
          />

          <button
            type="submit"
            class="saveBtn"
            (click)="saveLogo()"
            class="btn saveBtn mt-3"
          >
            Save
          </button>
        </div>
      </form>
      <!-- menu form -->
      <form
        *ngIf="item.id === 'Menu'"
        (ngSubmit)="saveSection('menu')"
        [formGroup]="menuForm"
        class="menu-settings-form"
      >
        <!-- Sticky Menu Toggle -->

        <!-- Menu With Logo Inline Toggle -->
        <!-- <div class="menu-toggle-group">
          <label>
            <input
              type="checkbox"
              formControlName="logoInLine"
              (click)="applyMenuChanges()"
            />
            Menu with Logo in line
          </label>
        </div> -->

        <!-- Menu Position -->
        <!-- <div class="menu-position-section">
          <label class="form-label">Menu Position</label>
          <div class="position-options">
            <button type="button" value="top" class="position-btn">↑</button>
            <button type="button" class="position-btn">↕</button>
            <button type="button" class="position-btn">↓</button>
          </div>
        </div> -->

        <!-- Menu Background Color -->
        <!-- <div class="color-picker-section">
          <button
            type="button"
            class="color-picker-toggle"
            (click)="toggleMenuBgColor = !toggleMenuBgColor"
          >
            <div class="rainbow-plus-icon">
              <span>+</span>
            </div>
            Menu Background Color
            <i
              [class]="
                toggleMenuBgColor ? 'bi bi-chevron-up' : 'bi bi-chevron-down'
              "
            ></i>
          </button>
          <div *ngIf="toggleMenuBgColor" class="mt-2">
            <input
              type="color"
              formControlName="menuBackgroudColour"
              (click)="applyMenuChanges()"
            />
          </div>
        </div> -->

        <!-- Font Size -->

        <div class="font-size-section">
          <label class="form-label">Font Size</label>
          <div class="font-size-control">
            <input
              type="range"
              min="13"
              max="40"
              step="1"
              formControlName="fontSize"
              (input)="applyMenuChanges()"
            />
          </div>
        </div>

        <!-- Font Alignment -->
        <div class="font-alignment-section">
          <label class="form-label">Alignment</label>
          <select
            formControlName="alignment"
            (change)="applyMenuChanges()"
            class="form-select"
          >
            <option value="left">Left</option>
            <option value="middle">Middle</option>
            <option value="right">Right</option>
          </select>
        </div>

        <!-- Font Color -->
        <div class="color-picker-section">
          <button
            type="button"
            class="color-picker-toggle"
            (click)="toggleMenuFontColor = !toggleMenuFontColor"
          >
            <div class="rainbow-plus-icon">
              <span>+</span>
            </div>
            Menu Font Color
            <i
              [class]="
                toggleMenuFontColor ? 'bi bi-chevron-up' : 'bi bi-chevron-down'
              "
            ></i>
          </button>
          <div *ngIf="toggleMenuFontColor" class="mt-2">
            <input
              type="color"
              formControlName="menuFontColour"
              (change)="applyMenuChanges()"
            />
          </div>
        </div>
        <button type="submit" class="btn saveBtn mt-3">Save</button>
      </form>

      <!-- menu form -->
      <!-- titles form -->
      <form
        *ngIf="item.id === 'Title'"
        [formGroup]="titlesForm"
        (ngSubmit)="saveSection('titles')"
        class="titles-form card p-3"
      >
        <!-- Business Name -->
        <div class="mb-4">
          <label class="form-label fw-bold">Business Name</label>
          <input
            type="text"
            formControlName="buisnessName"
            class="form-control"
            placeholder="Enter business name"
            (input)="applyTitleChanges()"
          />
          <div class="form-text">
            Your business name. This will appear in your communications to
            customers.
          </div>
        </div>

        <!-- Page Title -->
        <div class="mb-4">
          <label class="form-label fw-bold">Page Title</label>
          <input
            type="text"
            formControlName="pageTitle"
            class="form-control"
            placeholder="Enter page title"
            (input)="applyTitleChanges()"
            maxlength="80"
          />
          <div class="form-text">
            Set a custom title for your website. Max 80 characters.
          </div>
        </div>
        <!-- font-size -->

        <!-- font-size -->

        <!-- Alignment -->
        <div class="mb-4">
          <label class="form-label fw-bold">Alignment</label>
          <div class="btn-group w-100" role="group">
            <input
              type="radio"
              class="btn-check"
              id="align-left"
              value="left"
              formControlName="titleAlignment"
              (input)="applyTitleChanges()"
            />
            <label class="btn btn-outline-secondary" for="align-left">
              <i class="bi bi-text-left"></i>
            </label>

            <input
              type="radio"
              class="btn-check"
              id="align-center"
              value="center"
              formControlName="titleAlignment"
              (input)="applyTitleChanges()"
            />
            <label class="btn btn-outline-secondary" for="align-center">
              <i class="bi bi-text-center"></i>
            </label>

            <input
              type="radio"
              class="btn-check"
              id="align-right"
              value="right"
              formControlName="titleAlignment"
              (input)="applyTitleChanges()"
            />
            <label class="btn btn-outline-secondary" for="align-right">
              <i class="bi bi-text-right"></i>
            </label>
          </div>
        </div>

        <!-- Title Color Picker Toggle -->
        <div class="mb-4">
          <button
            type="button"
            class="btn btn-light border w-100 d-flex justify-content-between align-items-center"
            (click)="toggleTitleColorPicker = !toggleTitleColorPicker"
          >
            <span>
              <div class="rainbow-plus-icon">
                <span>+</span>
              </div>
              Set Title Color
            </span>
            <i
              [class]="
                toggleTitleColorPicker
                  ? 'bi bi-chevron-up'
                  : 'bi bi-chevron-down'
              "
            ></i>
          </button>

          <div *ngIf="toggleTitleColorPicker" class="mt-2">
            <input
              type="color"
              formControlName="titleColour"
              (input)="applyTitleChanges()"
              class="form-control form-control-color"
            />
          </div>
        </div>

        <!-- Subtitle -->
        <div class="mb-4">
          <label class="form-label fw-bold">Subtitle</label>
          <input
            type="text"
            class="form-control"
            formControlName="subtitle"
            placeholder="Enter subtitle"
            (input)="applyTitleChanges()"
            maxlength="200"
          />
          <div class="form-text">Subtitle cannot exceed 200 characters.</div>
          <div class="form-text">
            {{ titlesForm.get("subtitle")?.value?.length || 0 }}/200
          </div>
        </div>

        <!-- Subtitle Alignment -->
        <div class="mb-4">
          <label class="form-label fw-bold">Alignment</label>
          <select
            class="form-select"
            formControlName="subtitleAlignment"
            (input)="applyTitleChanges()"
          >
            <option value="left">Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
          </select>
        </div>

        <!-- Title Color Picker Toggle -->
        <div class="mb-4">
          <button
            type="button"
            class="btn btn-light border w-100 d-flex justify-content-between align-items-center"
            (click)="toggleTitleColorPicker = !toggleTitleColorPicker"
          >
            <span>
              <div class="rainbow-plus-icon">
                <span>+</span>
              </div>
              Set Title Color
            </span>
            <i
              [class]="
                toggleTitleColorPicker
                  ? 'bi bi-chevron-up'
                  : 'bi bi-chevron-down'
              "
            ></i>
          </button>

          <div *ngIf="toggleTitleColorPicker" class="mt-2">
            <input
              type="color"
              formControlName="subtitleColour"
              (input)="applyTitleChanges()"
              class="form-control form-control-color"
            />
          </div>
        </div>

        <!-- Save Button -->
        <div class="text-center">
          <button class="btn saveBtn" type="submit">Save</button>
        </div>
      </form>

      <!-- titles form -->

      <!-- phone form -->
      <form
        *ngIf="item.id === 'phone'"
        [formGroup]="contactForm"
        (ngSubmit)="saveSection('phone')"
      >
        <div class="card p-3" formGroupName="phones">
          <!-- Mobile Phone -->
          <div class="mb-3">
            <label class="form-label fw-semibold">Mobile Phone</label>
            <div class="input-group">
              <span class="input-group-text">🇮🇳</span>
              <input
                type="text"
                class="form-control phoneInput"
                formControlName="mobile"
                placeholder="+918102065847"
              />
            </div>
            <small class="text-muted">
              Enter a phone number to receive SMS notifications & calls.
            </small>
          </div>

          <!-- Office Phone -->
          <div class="mb-2">
            <label class="form-label fw-semibold">Office Phone</label>
            <div class="input-group">
              <span class="input-group-text">🇮🇳</span>
              <input
                type="text"
                class="form-control phoneInput"
                formControlName="office"
                placeholder="+91"
              />
            </div>
            <small class="text-muted">
              Receive calls on your office phone instead of your mobile phone.
            </small>
          </div>

          <!-- WhatsApp Number -->
          <div>
            <label class="form-label fw-semibold">WhatsApp Number</label>
            <div class="input-group">
              <span class="input-group-text">🇮🇳</span>
              <input
                type="text"
                class="form-control phoneInput"
                formControlName="whatsapp"
                placeholder="+918877306675"
              />
            </div>
          </div>
        </div>

        <button type="submit" class="btn saveBtn mt-3">Save</button>
      </form>

      <!-- address form -->
      <!-- Address Visibility Toggle Card -->
      <form
        *ngIf="item.id === 'address'"
        [formGroup]="addressForm"
        (ngSubmit)="saveSection('address')"
      >
        <div class="card p-3">
          <!-- Address Line 1 -->
          <div class="mb-3">
            <label class="form-label fw-semibold">Address Line 1</label>
            <input
              type="text"
              class="form-control"
              formControlName="line1"
              placeholder="123 Main Street"
            />
          </div>

          <!-- Address Line 2 -->
          <div class="mb-3">
            <label class="form-label fw-semibold">Address Line 2</label>
            <input
              type="text"
              class="form-control"
              formControlName="line2"
              placeholder="Near Central Park, New York"
            />
          </div>
        </div>

        <button type="submit" class="btn saveBtn mt-3">Save</button>
      </form>
    </ng-container>

    <!-- naya header form================================== -->
    <!-- purana header form -->
  </div>

  <!-- purana header form -->

  <!-- Expanded Section: LOGO -->

  <!-- <div class="footer-btns btnWrp d-flex justify-content-center mt-4">
      <button class="btn cancel-btn cancelBtn">Cancel</button>
      <button
        class="btn btn-secondary greenBtn"
        (click)="saveSection(activeSection!)"
        [disabled]="!headerForm.get(activeSection!)?.valid"
      >
        Save
      </button>
    </div> -->
</div>

<!-- media gallery modal -->
<div class="media-modal-backdrop" *ngIf="showMediaModal">
  <div class="media-modal">
    <div class="modal-header">
      <h2>Media Library</h2>
      <button class="cross" (click)="closeMediaLibrary()">✕</button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          My Uploads
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          URL Upload
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="upload-gallery">
          <div class="upload-box">
            <label>
              <input type="file" (change)="uploadFile($event)" hidden />
              <div class="upload-placeholder">+</div>
            </label>
          </div>
          <div class="media-items">
            <div
              *ngFor="let image of uploadedImages"
              class="media-thumbnail"
              [class.selected]="selectedImage === image"
              (click)="selectImage(image)"
            >
              <img [src]="image" alt="Media" />
            </div>
          </div>

          <!-- <div class="media-items">
            <div
              *ngFor="let image of uploadedImages"
              class="media-thumbnail"
              [class.selected]="selectedImage === image"
              (click)="selectImage(image)"
            >
              <img [src]="image" alt="Media" />
            </div>
          </div> -->
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        ...
      </div>
    </div>

    <div class="modal-footer">
      <button (click)="closeMediaLibrary()">Cancel</button>
      <button
        class="greenbtn"
        (click)="chooseImage()"
        [disabled]="!selectedImage"
      >
        Choose
      </button>
    </div>
  </div>
</div>

<!-- cover media gallery  -->
<div
  class="modal fade"
  id="coverEditorModal"
  tabindex="-1"
  aria-labelledby="coverEditorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="coverEditorLabel">Cover Editor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              My Uploads
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              URL Upload
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="upload-gallery">
              <div class="upload-box">
                <label>
                  <input type="file" (change)="uploadFile($event)" hidden />
                  <div class="upload-placeholder">+</div>
                </label>
              </div>
              <div class="media-items">
                <div
                  *ngFor="let image of uploadedImages"
                  class="media-thumbnail"
                  [class.selected]="selectedImage === image"
                  (click)="selectImage(image)"
                >
                  <img [src]="image" alt="Media" />
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            ...
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="closeMediaLibrary()">Cancel</button>
          <button
            class="greenbtn"
            (click)="chooseCoverImage()"
            [disabled]="!selectedImage"
          >
            Choose
          </button>
        </div>
        <!-- END Cover Editor -->
      </div>
    </div>
  </div>
</div>
